@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

@media (prefers-color-scheme: light){
    :root{
        --main-bg-color: #afaf8f;
        --main-bg-color: #efefcf;
        --main-color: #20202f;
        --main-border-color: #888848;
        --main-border-color: #d4d4a4;
        --heading-color: black;
        --pre-bg-background: rgba(0,0,0,.5);
        --pre-color: white;
        --fn-subscript-primary: black;
        --fn-subscript-secondary: orange;
        --date-main-color: #636;
        --date-alt-color: #636;
        --partial-color: #500;
        --statistic-cookie-border-color: #333;
        --statistic-cookie-color:#033;
        --pre-label: #992;
        --pre-label2: #2a95a5;
        --code-bg-color: #bbb;
        --code-color: #02f;
        --verbatim-color: #a00;
        --table-main-border-color: #222;
        --table-secondary-border-color: #101010;
        --modal-shadow-color: rgba(0,0,0,.2);
        --modal-bg-color: #d3ddc9;
        --modal-color: #229;
        --modal-border-color: #333;
        --pre-box-shadow-color-1: #003;
        --pre-box-shadow-color-2: #300;
        --italic-color: black;
        --underline-color-line: #00f;
        --phone-nav-border-color: #333;
        --phone-nav-color: black;
        --phone-nav-color2: #ccc;
        --reading-mode-button-color1:#797949;
        --reading-mode-button-color2:#006644;
    }
}

@media (prefers-color-scheme: dark){
    :root{
        --main-bg-color: #0c020a;
        --main-color: #949FCF;
        --heading-color: #FCF0CF;
        --pre-bg-background: rgba(0,0,0,.5);
        --pre-color: white;
        --fn-subscript-primary: white;
        --fn-subscript-secondary: orange;
        --date-main-color: rgba(200,230,30);
        --date-alt-color: #970;
        --partial-color: #835;
        --statistic-cookie-border-color: #433;
        --statistic-cookie-color:#daa;
        --pre-label: #AAD;
        --pre-label2: #2a95a5;
        --code-bg-color: #333;
        --code-color: #fd0;
        --verbatim-color: #0df;
        --main-border-color: #181818;
        --table-main-border-color: #222;
        --table-secondary-border-color: #101010;
        --modal-shadow-color: rgba(255,255,255,.2);
        --modal-bg-color: #2c223a;
        --modal-color: #dda;
        --modal-border-color: #ddd;
        --pre-box-shadow-color-1: #003;
        --pre-box-shadow-color-2: #300;
        --italic-color: #ccf;
        --underline-color-line: #ff0;
        --phone-nav-border-color: #ccc;
        --phone-nav-color: white;
        --phone-nav-color2: #333;
        --reading-mode-button-color1:#595959;
        --reading-mode-button-color2:#ffddaa;
    }
}

.org-code-block{
    background: var(--pre-bg-background);
    color: var(--pre-color);
    font-family: monospace;
    padding: 2px 5px;
    max-width: 100%;
}
.table-wrapper{
    max-width: 100%;
    overflow:scroll;
    margin-top: 75px;
    margin-bottom: 75px;
}

table {
  margin: 10px auto;
  color: var(--main-color);
  background: var(--main-bg-color);
  font-size: 12pt;
  border-collapse: collapse;
  border: 1px solid var(--table-main-border-color);
}

td {
  padding: 20px;
  border-left: 1px solid var(--table-main-border-color);
  border-right: 1px solid var(--table-main-border-color);
  border-bottom: 1px solid var(--table-secondary-border-color);
}

.article-footnote{
    color:var(--fn-subscript-primary);
    font-family: monospace;
}

.article-footnote:hover{
    cursor: pointer;
    color: var(--fn-subscript-secondary);
}

.org-date{
    color: var(--date-main-color); 
    font-family: monospace;
    position: absolute;
    right: 0;
    transform: translateY(-100%);
    font-size: 10pt;
    border: 1px solid var(--date-alt-color);
    border-radius: 5px;
    padding: 1px 5px;
}

.partial{
    color: var(--partial-color);
}

.statistic-cookie{
    border: 1px solid var(--statistic-cookie-border-color);
    padding: 1px 5px;
    border-radius: 5px;
    color: var(--statistic-cookie-color);
    font-weight: bold;
    font-family: monospace;
    margin-left: auto;
    margin-right:0;
    position:absolute;
    left: 0;
    transform: translateX(-50%);
}

.done{
    color: var(--statistic-cookie-color);
}

body{
    background: var(--main-bg-color);
    color: var(--main-color);
    max-width: 100vw;
    width: 100vw;
    overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6, h7, h8, h9 {
    color: var(--heading-color);
    font-weight: bolder;
    padding: 0;
    margin: 0;
}

pre{
    background: var(--pre-bg-background);
    color: var(--pre-color);
    max-width: 100%;
}

.pre-name{
    color: var(--pre-label);
}

.code{
    font-family: monospace;
    background: var(--code-bg-color);
    padding: 4px;
    color: var(--code-color);
    font-weight: bold;
}

pre{
    margin-top: 50px !important;
    margin-bottom: 50px !important;
    overflow:hidden !important;
    overflow-wrap:break-word !important;
}

pre code{
    display:block;
    font-size: 10pt !important;
    max-width: 100%;
    white-space: pre-wrap !important;
    overflow-wrap: break-word !important;
}

.verbatim{
    font-family: monospace;
    background: var(--code-bg-color);
    padding: 4px;
    color: var(--verbatim-color);
    font-weight:bold;
}

.italic{
    font-style: italic;
}

.section{
    border: 1px solid var(--main-border-color);
    position: relative;
}

.section > h1, h2, h3, h4, h5, h6, h7, h8, h9 {
    margin-bottom: 50px;
    margin-top: 50px;
}

body{
    display: flex;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    flex-direction: column;
    font-family:"Roboto", sans-serif;
    font-size: 1.1em;
    line-height: 1.4em;
    word-spacing: 0.05em;
}

main{
    position: relative;
    margin-right: auto;
    margin-left: auto;
    width: 40%;
}

.modal{
    background: var(--modal-bg-color);
    position: absolute;
    border-radius: 5px;
    box-shadow: 10px 10px 20px -15px var(--modal-shadow-color);
    left: 50%;
    transform: translate(-50%, 0%);
    color: var(--modal-color);
    font-family: monospace;
    font-size: 9pt;
    max-width: 80%;
    z-index: 999;
    padding: 10px 20px;
    border: 1px solid var(--modal-border-color);
}

pre{
    word-break: break-all;
    position: relative;
    padding: 25px;
    width: 80%;
    margin-right: auto !important;
    margin-left: auto !important;
    margin-top: 50px;
    margin-bottom: 50px;
    border-radius: 10px;
    box-shadow: 10px 10px 80px -50px  var(--pre-box-shadow-color-1),
                15px 5px 40px -35px var(--pre-box-shadow-color-2)
    ;
}

pre > div{
    word-break: break-all;
    white-space: pre-wrap;
}

.pre-label{
    position: absolute;
    top: 20px;
    right: 50px;
    color: var(--pre-label2);
    font-size: 9pt;
}

.pre-name{
    transform: translateY(45px) translateX(35px) rotate(-90deg);
    position: absolute;
    z-index: 5;
    display:none;
}

span{
    word-spacing: auto;
}

.italic{
    font-style: italic;
    color: var(--italic-color);
}

.bold{
    font-weight: bold;
    color: var(--italic-color);
}

.strike{
    text-decoration: line-through;
}

.code{
    font-family: monospace;
}

.verbatim{
    font-family: monospace;
}

.underline{
    border-bottom: 3px var(--underline-color-line) solid;
}

.underline::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 16px;
}

.blur{
    position: fixed;
    background: var(--pre-bg-background);
    width:100vw;
    height:100vh;
    z-index: 9998;
}

.phone-nav-leave{
    position: absolute;
    top: 10px;
    right: 10px;
    color: var(--phone-nav-color);
    font-family: monospace;
    border: 1px solid var(--phone-nav-border-color);
    padding: 2px 5px;
    border-radius: 5px;
}

.phone-nav-leave:hover{
    cursor: pointer;
    background: var(--phone-nav-border-color);
    color:var(--phone-nav-color2);
}

.phone-nav{
    background: var(--main-bg-color);
    width: 80vw;
    height: 100%;
}

.phone-nav-button{
    position:fixed;
    padding: 25px;
    z-index: 9999;
    background: var(--main-bg-color);
    width: 100%;
    border-bottom: 1px solid var(--main-border-color);
}

.phone-nav-button > div{
    position: absolute;
    top: 9px;
    left: 10px;
    color: var(--phone-nav-color);
    font-family: monospace;
    border: 1px solid var(--phone-nav-border-color);
    padding: 2px 5px;
    border-radius: 5px;
}

.phone-nav-button > div:hover{
    cursor: pointer;
    background: var(--phone-nav-border-color);
    color: var(--phone-nav-color2);
}

.article-image{
    display: block;
    max-width:100%;
    margin-left: auto;
    margin-right: auto; 
    border-radius: 15px;
}

.section{
    padding:0;
    margin-left: 0;
    margin-right: 0;
    border-left: none;
    border-bottom: none;
    border-right: none;
    /*border-top-left-radius: 15px;*/
    margin-top: 30px;
}

.section > .section > .section {
    margin-top: 30px;
}

.section:first-child{
    border:none;
}

header{
    position:fixed;
    z-index: 9999;
}

.desktop-nav{
    right: 0;
    top: 40px;
}

.desktop-nav nav{
    padding-left: 80px;
}

.desktop-nav section{
    border: 1px solid var(--main-border-color);
}

nav{
    display: flex;
    flex-direction: column;
    padding: 40px;
}

nav  a {
    color: var(--phone-nav-border-color);
    font-size: 11pt;
    font-family: monospace;
}

nav > section{
    display: flex;
    flex-direction: column;
    padding: 40px;
}

section > a{
    text-decoration: none;
}

.side-tree{
    box-sizing: border-box;
    position: fixed;
    left: 0;
    width: 30%;
    top: 40px;
    font-family: monospace;
    font-size: 10pt;
    color: var(--phone-nav-color);
}

.side-tree nav {
    padding-right: 80px;
}

.side-tree section{
    border: 1px solid var(--main-border-color);
    max-height: 50vh;
    overflow: scroll;
}

.indent{
    margin-left: 8px;
}

.indent > a {
    text-decoration: none;
}

.prefix-indent{
    font-weight:bold;
    opacity: .5;
}


.highlight{
    font-weight: bold;
}

.highlight > .prefix-indent{
    opacity: 1;
}

.reading-mode-wrapper{
    position:relative;
    transform: translateY(-21px);
    display: flex;
}

.first-reading-mode-wrapper{
    position:relative;
    transform: translateY(-51px);
    display: flex;
}

.first-reading-mode-wrapper:hover > .reading-mode-button > button{
    opacity:1;
}

.reading-mode-wrapper:hover > .reading-mode-button > button{
    opacity:1;
}

.reading-mode-button{
    index: 9999999999;
    border: 1px solid var(--main-border-color);
    padding: 2px 5px;
    border-left:none;
}

.reading-mode-button:first-child{
    margin-left: auto;
    border-left:1px solid var(--main-border-color);
}

.reading-mode-button > button{
    background: none;
    border: none;
    transition: opacity .2s;
    opacity:.2;
    color: var(--reading-mode-button-color1);
}

.reading-mode-button > button:hover{
    color: var(--reading-mode-button-color2);
    cursor:pointer;
}

.hidden{
    display: none !important;
}

@media only screen and (max-width: 600px){

    .phone-ui{
        display: block;
    }

    .desktop-ui{
        display: none;
    }

    main{
        width: 90%;
        margin-top: 80px;
    }

    .side-tree{
        display: none;
    }

    .first-reading-mode-wrapper, .reading-mode-wrapper{
        display: none;
    }
}

@media only screen and (min-width: 601px){

    .phone-ui{
        display: block;
    }

    .desktop-ui{
        display: none;
    }

    main{
        width: 80%;
        margin-top: 80px;
    }

    .side-tree{
        display: none;
    }

    .first-reading-mode-wrapper, .reading-mode-wrapper{
        display: none;
    }

    .section > .section > .section{
        margin-top: 30px;
    }
}

@media only screen and (min-width: 800px){

    .section > .section > .section{
        margin-top: 30px;
    }

    main{
        width: 70%;
        margin-top: 80px;
    }

    .side-tree{
        display: none;
    }

    .desktop-ui{
        display: none;
    }

    .first-reading-mode-wrapper, .reading-mode-wrapper{
        display: none;
    }
}

@media only screen and (min-width: 950px){

    .side-tree{
        display: none;
    }

    .desktop-ui{
        display: none;
    }

    .phone-ui{
        display: block;
    }

    .section{
        border-left: none;
        border-bottom: none;
        border-right: none;
        padding: 20px;
        padding-right: 0;
        margin-top: 30px;
    }
    
    main{
        width: 60%;
    }

    .desktop-nav{
        width: 20%;
    }

    .Article{
        border-top: 1px solid var(--main-border-color);
    }

    .first-reading-mode-wrapper, .reading-mode-wrapper{
        display: none;
    }

    .section > .section > .section{
        margin-top: 90px;
    }
}

@media only screen and (min-width: 1200px){

    .side-tree{
        display:block;
    }

    .desktop-ui{
        display: block;
    }

    .phone-ui{
        display: none;
    }

    .section{
        border-left: none; border-bottom: none;
        border-right: none;
        padding: 20px;
        padding-right: 0;
        margin-top: 30px;
    }

    main{
        width: 40%;
    }

    .desktop-nav{
        width: 30%;
    }

    .Article{
        border-top: 1px solid var(--main-border-color);
    }

    .first-reading-mode-wrapper, .reading-mode-wrapper{
        display: flex;
    }

    .section > .section > .section{
        margin-top: 90px;
    }
}
